body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Futura Lt BT";
  src: url("./fonts/FuturaBT-LightItalic.eot");
  src: url("./fonts/FuturaBT-LightItalic.woff2") format("woff2"),
    url("./fonts/FuturaBT-LightItalic.woff") format("woff"),
    url("./fonts/FuturaBT-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Futura Lt BT";
  src: url("./fonts/FuturaBT-Light.eot");
  src: url("./fonts/FuturaBT-Light.woff2") format("woff2"),
    url("./fonts/FuturaBT-Light.woff") format("woff"),
    url("./fonts/FuturaBT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/Futura-Bold.eot");
  src: url("./fonts/Futura-Bold.woff2") format("woff2"),
    url("./fonts/Futura-Bold.woff") format("woff"),
    url("./fonts/Futura-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/Futura-Bold_1.eot");
  src: url("./fonts/Futura-Bold_1.woff2") format("woff2"),
    url("./fonts/Futura-Bold_1.woff") format("woff"),
    url("./fonts/Futura-Bold_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("./fonts/FuturaPTMediumOblique.otf");
  font-weight: 500;
  font-style: italic;
}
